.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 190px;
  border-radius: 25px;
  margin-bottom: 20px;
  mix-blend-mode: darken;
  &__content {
    width: 100%;
    position: relative;
    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%;
      margin: 0;
      width: 75%;
      text-align: center;
    }
    &__img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      filter: brightness(72%);
    }
  }
}
